body {
  margin: 0px;
  background-color: rgb(10, 17, 22);
  font-family: Helvetica;
}

.Header {
  margin: 0px;
  height: 50px;
  background-color: rgb(20, 47, 59);
}

.Header img {
  height: 40px;
  margin: 5px;
  margin-left: 10px;
  float: left;
}

.Header p {
  font-size: 25px;
  float: left;
  font-weight: 400;
  margin: 10px;
  margin-left: 10px;
  color: rgb(40, 229, 250);
}


.DraftPost {
  margin: auto;
  margin-top: 10px;
  width: 600px;
  background-color: rgb(20, 47, 59);
  border-radius: 20px;
  border-color: rgba(63, 73, 90, 0.5);
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  overflow: auto;
}

.DraftPost h1 {
  font-size: 15px;
  color: rgb(255, 255, 255);
  margin: 0px;
  padding: 5px;
  padding-left: 16px;
  background-color: rgba(0, 0, 0, 0.35);
}

.TextContainer {
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(63, 73, 90, 0.5);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.TextContainer textarea {
  border-style: none;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  background-color: rgba(0, 0, 0, 0);
  display: block;
  width:100%;
  outline: none;
  resize: none;
  height: 100px;
  font-size: 15px;
  color: white;
  margin: 0px;
}

.EditTextContainer {
  margin: 0px;
  padding: 7px;
  background-color: rgba(240, 240, 255, 0.05);
}

.EditTextContainer:focus-within {
  background-color: rgba(250, 250, 255, 0.1);
}

.TextContainer p {
  background-color: rgba(0, 0, 0, 0);
  width:100%;
  font-size: 15px;
  color: white;
  margin: 0px;
  padding: 10px;
  padding-top: 10px;
  paddiong-bottom: 10px;
  white-space: pre;
}

.ImgContainer {
  width: 97%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
  overflow: hidden;
}

.ImgContainer img {
  width: 100%;
  margin: 0px;
}


.Button {
  border-radius: 5px;
  border-style: none;
  background-color: rgba(0, 0, 0, 0.35);
  font-size: 15px;
  color: white;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.PostButton {
  float: right;
}


.footer {
  background-image: linear-gradient(to right, rgba(100, 100, 120, 0.3), rgba(100, 100, 120, 0));
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 25px;
}

.footer p {
  font-size: 12px;
  font-weight: 100;
  margin: 0px;
  margin-left: 5px;
  margin-top: 2px;
  color: rgb(147, 155, 169);
  text-align: left;
}
.footer a {
  color: rgb(68, 123, 167);
}







//
